:root {
	--main-bg-color: #00274F;
	--main-text: white;
	--main-subtext: #89BBFF;
}

@font-face {
	font-family: ProductSans;
	font-weight: normal;
	src: url('Fonts/PSRegular.ttf');
}

@font-face {
	font-family: ProductSans;
	font-weight: bold;
	src: url('Fonts/PSBold.ttf');
}

html {
	background-color: var(--main-bg-color);
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

* {
	font-family: ProductSans;
	font-size: 14px;
}

div {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    outline: none;
}

body {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;

	overflow: scroll;
}

.TopBar {
	position: fixed;
	height: 64px;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: var(--main-bg-color);
}

.Body {
	position: absolute;
	height: calc(100% - 64px);
	top: 64px;
	left: 0px;
	width: 100%;
}

.Page {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	overflow: scroll;
}

.InnerPage {
	position: relative;
	left: 50%;
	width: calc(100% - 32px);
	transform: translate(-50%, 0%);
	background-color: var(--main-bg-color);
}

.Text {
	position: relative;
	left: 0px;
	width: 100%;
	padding-bottom: 8px;
	color: var(--main-text);
}

.SmallChoice {
	position: relative;
	color: var(--main-text);
	display: inline-flex;
	flex-wrap: wrap;
	border-style: solid;
	border-radius: 24px;
	border-width: 2px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 4px;
	padding-left: 4px;
	border-color: var(--main-text);
	margin-bottom: 16px;
}

.SmallAnswer {
	position: relative;
	cursor: pointer;
	position: relative;
	padding-left: 16px;
	padding-right: 16px;
	left: 0px;
}

.SmallAnswerActive {
	color: var(--main-bg-color);
}

.SmallAnswerBackground {
	position: absolute;
	height: calc(100% - 4px);
	top: 50%;
	left: 2px;
	width: 56px;
	border-radius: 12px;
	background-color: var(--main-text);
	transform: translate(0%, -50%);
}

.ButtonHolder {
	display: inline-flex;
	position: relative;
	margin-top: 16px;
	margin-bottom: 200px;
	width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.Buttons {
	display: inline-flex;
	position: relative;
	padding-right: 16px;
	padding-left: 16px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 24px;
	color: var(--main-text);
	border-color: var(--main-text);
	border-width: 2px;
	border-style: solid;
	text-align: center;
	cursor: pointer;
	margin-right: 8px;
	justify-content: center;
	align-items: center;
}

.ProgressBar {
	position: absolute;
	top: 36px;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 64%;
	min-width: 64px;
	height: 4px;
	overflow: hidden;
	border-radius: 6px;
	background-color: var(--main-bg-color);
	border-style: solid;
	border-width: 2px;
	border-color: var(--main-text);
}

.ProgressBarFill {
	position: relative;
	background-color: var(--main-text);
	height: 4px;
	border: none;
	width: 0%;
}

.ProgressText {
	color: var(--main-text);
	text-align: center;
	margin-top: 12px;
}

.Disabled {
	pointer-events: none;
	cursor: initial;
	opacity: 50%;
}

.TextArea {
	position: relative;
	background-color: transparent;
	border-style: solid;
	border-color: white;
	color: var(--main-text);
	height: 26px;
	text-indent: 4px;
	border-radius: 6px;
	margin-bottom: 12px;
	margin-top: 4px;
}

.SmallBlueText {
	cursor: pointer;
	color: var(--main-subtext);
	font-family: bold;
}

.CenteredID {
	position: relative;
	width: 100%;
	font-size: 20px;
	text-align: center;
	color: var(--main-subtext);
	letter-spacing: 12px;
	margin-bottom: 4px;
}













