:root {
	--main-bg-color: #00274F;
	--main-text: white;
	--main-subtext: #89BBFF;
}

@font-face {
	font-family: ProductSans;
	font-weight: normal;
	src: url('Fonts/PSRegular.ttf');
}

@font-face {
	font-family: ProductSans;
	font-weight: bold;
	src: url('Fonts/PSBold.ttf');
}

html {
	background-color: var(--main-bg-color);
	white-space: nowrap;
}

* {
	font-family: ProductSans;
	font-size: 14px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    outline: none;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
	white-space: nowrap;
}
























